:root {
  --border-color: rgb(235, 235, 235);
  --light-gray: rgb(169, 169, 169);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recent-activity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  width: 1200px;
}

#recent-activity-wrapper>h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

#recent-activity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 40px;
}

.card-1 {
  border: 1px solid var(--border-color);
  padding: 8px 24px;
  margin: 32px 16px;
  margin-bottom: 0;
  height: 376px;
  width: 360px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-2 {
  border: 1px solid var(--border-color);
  padding: 8px 24px;
  margin: 32px 16px;
  margin-bottom: 0;
  height: 376px;
  width: 360px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 2fr 1fr 6fr 1fr
}

.card-header {
  display: flex;
  gap: 15px;
  margin: 15px;
}

.card-header>img {
  border-radius: 50%;
}

.card-user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-img {
  position: relative;
  margin: 0 -24px;
  display: flex;
  width: inherit;
  height: 88px;
}

.post-img>img {
  width: inherit;
  object-fit: cover;
}

.post-img-2-many-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.post-img-2-many-photos>.img-container>img {
  width: 147px;
  height: 168px;
  object-fit: cover;
}

.post-img-2-one-photo {
  margin-top: 15px;
}

.post-img-2-one-photo>.img-container>img {
  margin: 0 -25px;
  width: 360px;
  height: 200px;
}

.card2-emoji {
  margin: 1px 2px;
  padding: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-user-action,
.card-review {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #2e2d2f;
}

.card-title {
  color: #027a97;
  font-weight: bolder;
}

.stars-container {
  display: flex;
  justify-content: start;
  gap: 4px;
}

.stars {
  border-radius: 3px;
  padding: 2px;
}

.card-review {
  margin: 0;
}

.card-review a,
.num-photos a,
#show-more-activity a {
  color: #1490ae;
  font-weight: bold;
}

.num-photos {
  font-size: 15px;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  margin-bottom: 5px;
}

.card-emojis {
  border-top: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  padding: 10px 20px 0;
}

.card-emoji {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.card-emoji:hover,
.card2-emoji:hover {
  background-color: rgb(207, 205, 205);
  border-radius: 50%;
}

.msg-container {
  display: flex;
}

.msg-useful,
.msg-funny,
.msg-cool {
  margin-top: 10px;
  font-size: 40px;
  color: rgb(90, 90, 90);
  position: relative;
  z-index: 0;
}

.msg-text-useful,
.msg-text-funny,
.msg-text-cool {
  color: white;
  font-size: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
  bottom: 12px;
}

.msg-funny,
.msg-text-funny {
  left: 70px;
}

.msg-cool,
.msg-text-cool {
  left: 140px;
}

.hidden {
  display: none;
}

#categories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 40px;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.category {
  width: 256px;
  border: 1px solid var(--border-color);
  padding: 40px 0;
}

#category-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.category:hover {
  box-shadow: 0px 0px 20px rgb(162, 160, 160);
}

#line-break {
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin-top: 30px;
}

#show-more-activity {
  margin-bottom: 60px;
  color: #1490ae;
  display: flex;
  align-items: center;
}

a,
.card-emoji,
.card2-emoji,
.category {
  cursor: pointer;
}

.footer-title {
  font-weight: bold;
}

#footer-container {
  background-color: rgba(247, 247, 247, 1);
  padding: 55px;
}

#footer-wrapper {
  display: grid;
  grid-template-areas:
    "about discover business languages"
    "copyright copyright copyright copyright";
  row-gap: 50px;
  margin: 0 100px;
}

#footer-about {
  grid-area: about;
}

#footer-discover {
  grid-area: discover;
}

#footer-business {
  grid-area: business;
}

#footer-languages {
  grid-area: languages;
}

#footer-copyright {
  grid-area: copyright;
  color: var(--light-gray);
  font-size: 14px;
}

#footer-about,
#footer-discover,
#footer-business,
#footer-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer-wrapper a {
  color: var(--light-gray);
  font-weight: normal;
  font-size: 15px;
}

.footer-title {
  margin-bottom: 10px;
}

#footer-languages-menu,
#footer-countries-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.footer-title+div>span {
  color: var(--light-gray);
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 250px;
  overflow-y: scroll;
  position: absolute;
  bottom: 25px;
}

.footer-button {
  border: none;
  padding: 15px;
  background-color: white;
  text-align: left;
}

.footer-button>button {
  border: none;
  background-color: white;
  padding: 15px;
}

.footer-button:hover {
  background-color: var(--border-color);
}

.hidden {
  display: none;
}

#see-mores-container {
  width: 1200px;
}

#see-mores {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

#see-mores div {
  width: fit-content;
}

.see-more {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 0;
  padding-left: 0;
  width: fit-content;
}

.see-more-icon {
  width: 24px;
  height: 24px;
}

.see-more-link {
  color: #2d2e2f;
}

#header-container {
  padding: 24px 40px;
  display: flex;
  background-image: url('images/header/hvac.jpg');
  height: 575px;
  background-size: contain;
  margin-bottom: 40px;
}

#header-nav-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#consumer-header {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

#yelp-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#yelp-logo>img {
  height: 60px;
}

#header-search-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 5px;
  position: relative;
}

.header-search-bar#search-activity {
  border-right: 1px solid var(--light-gray);
}

.header-search-bar {
  margin: 15px 10px;
  text-align: left;
  width: 245px;
  height: 12px;
  background-color: white;
  border: none;
}

.header-search-bar:focus {
  outline: none;
}

#header-search-icon {
  background-color: red;
  width: 10%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#yelp-for-business {
  display: flex;
  align-items: center;
}

.header-link {
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: normal;
}

.header-link:hover {
  text-decoration: none;
  background-color: var(--light-gray);
  border-radius: 5px;
}

#sign-in,
#sign-up {
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#sign-in {
  border: 1px solid var(--border-color);
}

#sign-up {
  background-color: red;
}

#nav-links {
  display: flex;
  gap: 10px;
  margin-left: 105px;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
}

#header-locations {
  position: absolute;
  top: 48px;
  left: 245px;
  border-top: 1px solid var(--border-color);
  background-color: white;
  color: #3e74d0;
  font-size: 14px;
  width: 265px;
}

.header-location,
.header-activity {
  margin: 10px;
  padding: 10px;
}

.header-location:hover,
.header-activity:hover {
  background-color: var(--border-color);
  border-radius: 5px;
}

#header-activities {
  position: absolute;
  top: 48px;
  left: 0px;
  border-top: 1px solid var(--border-color);
  background-color: white;
  font-size: 14px;
  width: 245px;
}
